h2.heading-1,h3.heading-1{
    font-family: Cormorant Infant;
    font-style: normal;
    font-weight: 400;
    line-height: 94.1%; /* 45.168px */
    text-transform: uppercase;
  }


  a.button{
    border: 1px solid var(--text-color);
  }

  a.button-featured{
    border: 1px solid var(--button-bg);
    background-color: var(--button-bg);
    color: var(--button-text);
  }


  .text-left  {text-align: left;}
  .text-center{text-align:center;}
  .text-right {text-align: right;}

  img.logo{
    max-width: 24rem;
  }