h2.larger-heading{
    font-size: 60px;
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
  }
  h2.base-heading{
    font-size: 40px;
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 400;
    line-height: 94.1%; /* 45.168px */
    text-transform: uppercase;
  }

  h3.sub-heading{
    font-size: 16px;
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 400;
    line-height: 94.1%; /* 45.168px */
    text-transform: uppercase;
  }

  h3.base-heading{
    
    font-family: 'Cormorant Infant';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  p.uppercase-p{
    text-transform: uppercase;
  }

  a.button{
    border: 1px solid var(--text-color);
    text-transform: uppercase;
    padding: 15px 20px;
    letter-spacing: .15em;
    text-align: center;
  }

  a.button-featured{
    border: 1px solid var(--colored-button-bg);
    background-color: var(--colored-button-bg);
    color: var(--colored-button-text);
    text-transform: uppercase;
  }


  .text-left  {text-align: left;}
  .text-center{text-align:center;}
  .text-right {text-align: right;}

  img.logo{
    max-width: 24rem;
  }

