h2.larger-heading{text-align: left;}
h2.larger-heading-center{text-align: center;}
h2.larger-heading-right{text-align: right;}


h2.base-heading{text-align: left;}
h2.base-heading-center{text-align: center;}
h2.base-heading-right{text-align: right;}



  h3.sub-heading{text-align: left;}
  h3.sub-heading-center{text-align: center;}
  h3.sub-heading-right{text-align: right;}



  h3.base-heading{text-align: left;}
  h3.base-heading-center{text-align: center;}
  h3.base-heading-right{text-align: right;}

  p.uppercase-p{text-align: left;}
  p.uppercase-p-center{text-align: center;}
  p.uppercase-p-right{text-align: right;}

  a.button{
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    letter-spacing: .15em;
    text-align: center;
    border: 1px solid var(--text-color);
    padding: 0.7rem 1.5rem;
    display: inline-block;
  }

  a.button-featured{
    font-family: 'Inter', sans-serif;  
    font-size: 0.9rem;
    border: 1px solid var(--colored-button-bg);
    background-color: var(--colored-button-bg);
    color: var(--colored-button-text);
    text-transform: uppercase;
    padding: 15px 20px;
    letter-spacing: .15em;
    text-align: center;
    transition: border .5s, background-color .5s, color .5s;
    display: inline-block;
    line-height: 1;
    padding: 0.8rem 1rem 0.7rem;
  }


  .text-left  {text-align: left;}
  .text-center{text-align:center;}
  .text-right {text-align: right;}




@media (max-width: 640px) {
  h2.larger-heading{
    font-size: 40px;
  }

  h2.base-heading{
    font-size: 30px;
  }

  h3.sub-heading{
    line-height: 25px;
  }

  [class*=button]{
    font-size: 16px;
    padding: 20px 15px;
  }

}