
/* ----------- Color Variables --------- */
/* Looking for the color variables? They have been moved to the inline-styles file in the _includes folder, and pull variables from the site-settings folder in the _data folder.  */

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

:root{
  --color-1: #D7B18D;
  --color-2: #C39C77;
  --color-3: #CFC6B5;
  --color-4: #ECE5DD;
  --color-5: #9CA592;
  --color-6: #333C27;
  --color-7: #1D1D1B;
}

html {
  scroll-behavior: smooth; /* this enables smooth scrolling between internal links */
  overflow-x: hidden;
  width: 100vw;
  
}

* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  color: #1D1D1B;
  font-family: 'Cormorant Infant', serif;
  font-weight: 300;
}

.max-width{
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
}


section,footer{
  position: relative;
  z-index: 1;
  padding: var(--vert-gap) 5%;
  background-color: var(--bg-color);
  color: var(--text-color);
}



img {
  max-width:100%;
}
a {
  display: inline-block;
  text-decoration: none;
    color: inherit;
}

p{
  font-size: 20px;
}


h1, h2, h3, h4 {
  font-family: 'Cormorant Infant', serif;
  margin-bottom: 0.5em;
  word-break: break-word;
  color: var(--text-color);
}

h5,h6,p,span {
  margin-bottom: .5em;
  color: var(--text-color);
  line-height: 145%;
}

:is(h1,h2,h3,h4,h5,h6,p):last-child{
margin-bottom: 0;
}

h3{
  font-size: 25px;
}



.bg-light {
  background-color: #ECE5DD;
}

@layer components {


  .flex-center {
    @apply flex justify-center items-center;
  }
  [class*=button]{
    @apply border px-2 py-1 border-[var(--text-)]
  }
}

[type=submit].button{
  border: 1px solid var(--text-color);
  text-transform: uppercase;
  padding: 15px 20px;
  letter-spacing: .15em;
  text-align: center;
}
[type=submit].button:hover{
  color: var(--text-color);
}

/* footer */
footer .menu{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


footer a, footer input{

  font-family: 'Questrial', sans-serif;
  font-size: 16.127px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* burger menu */

header div {
  background-color: var(--bg-color);
  transition:.5s background, .5s color;
  transition-timing-function: ease-in-out;
}

header a{
  padding: .5rem 1rem;
}

.burger-button {
  position:relative;
  z-index: 9;
  padding: 8px;
  border: 0px;
  top: 6px;
}
/*this is where you can chand the color of the buttons*/
.burger-button span{
  width: 40px;
  border: 1px solid var(--text-color);
  background-color: var(--text-color);
  display: block;
  border-radius: 5px;
  transition: .5s;
}

/* .burger-button.active span{
  border-color: green;
  background-color:#383;
} */

.burger-top, .burger-bottom{
  position: absolute;
}

.burger-top{
  top: -02px;
}

.burger-bottom{
  bottom: -02px;
}
/* make sure this has the same top as the burger button has padding*/
.burger-button.active .burger-top{
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-middle{
/*   transform: rotateZ(270deg); */
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

/* make sure this has the same bottom as the burger button has padding*/

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}

.burger-anchor{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
}

.burger-menu {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--bg-color);
    padding:5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 8;
    align-content:space-around;
    justify-content:space-around;
    transition: color .5s, background-color .5s;
    transition-timing-function: ease-in-out;
}
.burger-menu.active{
top: 100%;
}


.drop-parent{
  position: relative;
  margin-bottom: 0;
}

.drop-anchor{
  margin-left: 1rem;
}

@media (min-width: 640px) {

    .drop-parent .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .drop-parent .drop-anchor{
      position: absolute;
      bottom: 0;
      z-index: -1;
      min-width: 100%;
    }
    .drop-parent .drop-child{
      position: relative;
      z-index: -1;
      transition: top .5s;
      top:0%;
    }
    .drop-parent:hover .drop-child{
      top:100%
    }
    .drop-child a{
      display: block;
    }

    .drop-parent > a:after{
      content: ">";
      margin-left: 1rem;
      transition: transform .5s;
      display: inline-block;
    }
    .drop-parent:hover > a::after{
    transform: rotate(90deg);
    }

    .svg-parent-inline svg{
      display: inline-block;
    }
}

/* accordian */

.accordian-trigger .accordian-svg{
  transform: rotate(-90deg);
transition: transform .5s;

}

.accordian-trigger.active .accordian-svg{
  transform: rotate(0deg);
}

/* form */

.contact-form input,
.contact-form textarea {
  background-color: var(--bg-color);
  display: block;
}

/* embed */

.embed-booking-section{
  height: 0; overflow: hidden; transition: all .5s;
}

.embed-booking-section.active{
  height: 195px;
}

@media (max-width: 1000px) {

  #ui-datepicker-div{
    left: 0 !important;
    right: 0 !important;
    width: 100vw !important ;
  }
  
  #ui-datepicker-div[style*=block]{
    display: grid !important;
  }

  #ui-datepicker-div > * {
    margin-left: auto;
    margin-right: auto;
  }
  
}

@media (min-width: 640px) {
  .embed-booking-section.active{
    height: 80px
  }

}

