<!-- text banner  -->
<section class="scheme-{{block.color-scheme}} md:bg-transparent" style="min-height: {{block.min-height}}">
  <img src="/assets/img/map.jpg" alt="Map of bali" class="hidden md:block absolute h-full w-full object-left-bottom object-cover inset-0 -z-10">
  <div class="max-width">

    <h2 class="heading-1">Where to find us</h2>
    <div class="md:min-h-[75vh] relative flex-center">
      <div class="md:absolute right-[25%] lg:right-[50%] left-[var(--side-gap)] bottom-0">
        {{block.block-content-html}}
        
      </div>
      
    </div> 
    
  </div>
</section>