<!-- text banner  -->
<section class="relative">
  <img src="/assets/img/map.jpg" alt="Map of bali" class="hidden lg:block ml-auto w-[75%] object-contain inset-0 -z-10 pt-5% mb-[14rem] xl:mb-16 2xl:mb-0 mt-8  min-h-[469px]">
  <div class="max-width">
    <h2 class="larger-heading lg:absolute top-[var(--vert-gap)] left-[var(--side-gap)]">Where to find us</h2>
    <img src="/assets/img/map.jpg" alt="Map of bali" class="lg:hidden">
    <div class="lg:w-[min(50%,_600px)] lg:absolute left-[var(--side-gap)] bottom-[var(--vert-gap)]">
        {{block.block-content-html}}
    </div> 
  </div>
</section>  