{% unless block.id == 'booking_embed' %}

<div class="scheme-2">
    <!-- {{block._id}} -->
<!-- booking embed is hidden un till its loaded fully -->
{% endunless %}
<section class="p-0 embed-booking-section">
  <div class="max-width">



<div class="book-wrapper !py-[40px] md:!py-[20px]">
    <form action="https://booking.oshombali.com/api/rates/" id="book_h" class="booking m0" method="post">
        <input type="hidden" name="BookingForm[hotel]" id="hotel" value="OSHB"/>
        <div class="section group p0 m0 flex flex-col md:grid md:grid-cols-3 justify-between gap-10 md:gap-8" style="grid-template-columns: 1fr 1fr 160px;">
            <div class="flex gap-2 md:gap-8 items-center justify-between">
            	<label>Check-in</label>
                <input type="text" name="BookingForm[checkin]" id="checkin_h" class="cal placeholder:text-[var(--text-color)] placeholder:text-center !mx-full shrink grow basis-full" placeholder="Select Date" readonly/>
            </div>
            <div class="flex gap-2 md:gap-8 items-center justify-between">
                <label>Check-out</label>
                <input type="text" name="BookingForm[checkout]" id="checkout_h" class="cal placeholder:text-[var(--text-color)] placeholder:text-center !mx-full shrink grow basis-full" placeholder="Select Date" readonly/>
            </div>
            <div class="col span_2_of_8 mtb0 absolute -left-full">
            	<label>Promo code</label>
                <input type="text" name="BookingForm[offer_code]" id="promocode" placeholder="Promo Code"/>
            </div>
            <div class="gap-2 md:gap-8 items-center">
                <label class="!hidden md:inline-block">&nbsp;</label>
                <input type="submit" class="m0" value="Book Now"/>
            </div>
        </div>
    </form>
</div>

</div> 

</section>


{% unless block.id == 'booking_embed' %}
</div>
{% endunless %}

{% assign hasBooking = true %}