<!-- text banner  -->

<!-- booking embed is hidden un till its loaded fully -->

<section class="p-0 embed-booking-section" style="height: 0; overflow: hidden; transition: all .5s;">
  <div class="max-width">



<div class="book-wrapper">

    
    <form action="https://booking.oshombali.com/api/rates/" id="book_h" class="booking m0" method="post">
        <input type="hidden" name="BookingForm[hotel]" id="hotel" value="OSHB"/>
        <div class="section group p0 m0 flex flex-col sm:flex-row justify-between gap-2 md:gap-6">
            <div class="flex gap-1 md:gap-4 items-center justify-between">
            	<label>Checkin</label>
                <input type="text" name="BookingForm[checkin]" id="checkin_h" class="cal" placeholder="Checkin" readonly/>
            </div>
            <div class="flex gap-1 md:gap-4 items-center justify-between">
                <label>Checkout</label>
                <input type="text" name="BookingForm[checkout]" id="checkout_h" class="cal" placeholder="Checkout" readonly/>
            </div>
            <!-- <div class="col span_2_of_8 mtb0">
            	<label>Promo code</label>
                <input type="text" name="BookingForm[offer_code]" id="promocode" placeholder="Promo Code"/>
            </div> -->
            <div class="flex gap-1 md:gap-4 items-center">
                <label class="!hidden md:inline-block">&nbsp;</label>
                <input type="submit" class="m0" value="Book Now"/>
            </div>
        </div>
    </form>
</div>

</div> 

</section>