{% unless block.id == 'booking_embed' %}

<div class="scheme-2">
    <!-- {{block._id}} -->
<!-- booking embed is hidden un till its loaded fully -->
{% endunless %}
<section class="py-0 embed-booking-section z-10">
  <div class="max-width">



<div class="book-wrapper !py-[40px] md:!py-[20px]">
    <form action="https://booking.oshombali.com/rates/index" id="book_h" class="booking m0" method="post">
        <input type="hidden" name="BookingForm[hotel]" id="hotel" value="OSHB"/>
        <div class="section group p0 m0 items-center justify-between lg:flex grid gap-y-2 md:gap-y-8" id="form-grid">
                <fieldset class="min-w-[13.8rem]">
                    <label class="">Check-in</label>
                    <input type="text" name="BookingForm[checkin]" id="checkin_h" class="cal inline-block max-width[8.1rem]" size="9" placeholder="dd/mm/yyyy" readonly/>
                </fieldset>
                <fieldset class="min-w-[15.1rem]">
                <label class="">Check-out</label>
                <input type="text" name="BookingForm[checkout]" id="checkout_h" class="cal inline-block max-width[8.1rem]" placeholder="dd/mm/yyyy" size="9" readonly/>
                </fieldset>
                
                <fieldset class="relative z-10 h-full mb-2 sm:mb-0 flex items-center min-h-[40px] sm:min-h-0">
                    <label class="cursor-pointer"
                    onclick="toggleVisiterPopout()"
                    > Guests </label>
                    <div class="flex justify-center items-center absolute bottom-0 left-0 bg-[var(--colored-button-bg)] h-0 overflow-hidden p-0 text-[0px] border-0 embed-dropdown" id="embed-user-count">
                        <div class="col-span-full text-right flex justify-between" ><label>Guests</label><div class="x leading-none cursor-pointer" onclick="toggleVisiterPopout()"> X </div> </div>
                        <label class="shrink">Adults</label>
                        <span onclick="increaseInput(this)"> + </span>
                        <input type="number" name="BookingForm[adults]" id="adults" placeholder="Adults" max="20" min="0" value="2" class=""/>
                        <span onclick="decreaseInput(this)"> - </span>
                        <label class="shrink !pl-0 min-w-[7rem]">Children</label>
                        <span onclick="increaseInput(this)"> + </span>
                        <input type="number" name="BookingForm[children]" id="children" placeholder="Children" max="20" min="0" value="0"/>
                        <span onclick="decreaseInput(this)"> - </span>
                    </div>
                    <div class="offClickDiv" onclick="toggleVisiterPopout()">

                    </div>
                </fieldset>
                <div class="gap-2 md:gap-8 items-center justify-between hidden">
                    <label>Promo code</label>
                    <input type="text" name="BookingForm[offer_code]" id="promocode" placeholder="Promo Code"/>
                </div>

                <div class="text-center">
                    <input type="submit" class="m0" value="Check availability"/>
                </div>
        </div>
    </form>
    
    {% comment %}
    
    <!--Old form -->
        <form action="https://booking.oshombali.com/rates/index" id="book_h" class="booking m0" method="post">
        <input type="hidden" name="BookingForm[hotel]" id="hotel" value="OSHB"/>
        <div class="section group p0 m0 items-center lg:flex grid gap-y-8" id="form-grid">
            	<label class="min-w-[5.7rem]">Check-in</label>
                <input type="text" name="BookingForm[checkin]" id="checkin_h" class="cal" placeholder="dd/mm/yyyy" readonly/>
                <span class="hidden md:block lg:hidden grid-spacer"></span>
                <label class="min-w-[6.8rem]">Check-out</label>
                <input type="text" name="BookingForm[checkout]" id="checkout_h" class="cal" placeholder="dd/mm/yyyy" readonly/>
                <div class="flex justify-center items-center md:col-span-3 col-span-2 lg:ml-8 mr-auto">
                    <label class="shrink">Adults</label>
                    <input type="number" name="BookingForm[adults]" id="adults" placeholder="Adults" max="20" min="0" value="2" class=""/>
                    <label class="shrink !pl-0 min-w-[7rem]">/ Children</label>
                    <input type="number" name="BookingForm[children]" id="children" placeholder="Children" max="20" min="0" value="0"/>
                </div>
                <div class="gap-2 md:gap-8 items-center justify-between hidden">
                    <label>Promo code</label>
                    <input type="text" name="BookingForm[offer_code]" id="promocode" placeholder="Promo Code"/>
                </div>
                <div class="col-span-2 text-center lg:ml-8">
                    <input type="submit" class="m0" value="Check availability"/>
                </div>

        </div>
    </form>
    
    {% endcomment %}
    
    <!-- <form action="https://booking.oshombali.com/api/rates/" id="book_h" class="booking m0" method="post">
        <input type="hidden" name="BookingForm[hotel]" id="hotel" value="OSHB"/>
        <div class="section group p0 m0 flex flex-col md:grid md:grid-cols-3 justify-between gap-10 md:gap-8" style="grid-template-columns: 1fr 1fr 160px;">
            <div class="flex gap-2 md:gap-8 items-center justify-between">
            	<label>Check-in</label>
                <input type="text" name="BookingForm[checkin]" id="checkin_h" class="cal placeholder:text-[var(--text-color)] placeholder:text-center !mx-full shrink grow basis-full" placeholder="Select Date" readonly/>
            </div>
            <div class="flex gap-2 md:gap-8 items-center justify-between">
                <label>Check-out</label>
                <input type="text" name="BookingForm[checkout]" id="checkout_h" class="cal placeholder:text-[var(--text-color)] placeholder:text-center !mx-full shrink grow basis-full" placeholder="Select Date" readonly/>
            </div>
            <div class="col span_2_of_8 mtb0 absolute -left-full">
            	<label>Promo code</label>
                <input type="text" name="BookingForm[offer_code]" id="promocode" placeholder="Promo Code"/>
            </div>
            <div class="gap-2 md:gap-8 items-center">
                <label class="!hidden md:inline-block">&nbsp;</label>
                <input type="submit" class="m0" value="Book Now"/>
            </div>
        </div>
    </form> -->
</div>

</div> 

</section>


{% unless block.id == 'booking_embed' %}
</div>
{% endunless %}

{% assign hasBooking = true %}