<section>
      <div class="max-width">
        {% if block.block-content-html != null %} 
          <div class="mx-auto mb-12" style="text-align: {{block.text_alignment}};{% if block.content-max-width %}max-width: {{block.content-max-width}} {% endif %}">
          
            {{block.block-content-html}}

          </div>
        {% endif %}
        <div class="flex flex-col md:grid grid-cols-1 gap-8 gap-y-12" style="grid-template-columns: repeat({{block.linked_cols.size}}, minmax(0, 1fr));">
        {% for col in block.linked_cols %}
          <div>

            {% if col.img_path != '' %}
                {% unless block.image_default_ratio %}
                  <div class="relative" style="aspect-ratio:{{block.img_apsect}};">
                    <img src="{{col.img_path}}" alt="{{col.img-alt}}" class="object-cover object-center absolute inset-0 h-full w-full">
                  </div>
                {% else %}
                  <img src="{{col.img_path}}" alt="{{col.img-alt}}">
                {% endunless %}
            {% endif %}

            <div class="mt-4 text-{{block.text_alignment}} gap-6 grid md:grid-cols-2">
              <div class="text-left">
                {{col.col-content-html}}
              </div>
              <div class="md:text-right">
                <a href="{{col.button-url}}" class="button">
                  {{col.button-text}}
                </a>

              </div>

            </div>
        </div>
          {% endfor %}
        </div>
      </div>
    </section>