<!-- col-section-basic.html -->
<div class="scheme-{{block.color-scheme}}">
<section>
      <div class="max-w-screen-xl mx-auto">
        <div class="heading-div" style="text-align: {{block.text_alignment}};">
       
        {% if block.pre-heading %}
             <h4>{{block.pre-heading}}</h4>
       {% endif %}

       {% if block.heading %}
            <h2>{{block.heading}}</h2>
        {% endif %}
        
        {% if block.paragraph %}
            <p>{{block.paragraph}}</p>
       {% endif %}

        </div>
        <div class="grid grid-cols-1 gap-4" style="grid-template-columns: repeat({{block.cols.size}}, minmax(0, 1fr));">
        {% for col in block.cols %}
          <div style="text-align: {{block.text_alignment}};">
            {% if col.img_path %}
                <img src="{{col.img_path}}" alt="{{col.img-alt}}">
            {% endif %}
       
            {% if col.heading %}
                <h3>{{col.heading}}</h3>
            {% endif %}
            
            {% if col.paragraph %}
                <p>{{col.paragraph}}</p>
            {% endif %}
    
            {% if col.button_link %}
            <a href="{{col.button_link}}" class="button-1">{{col.button_link}}</a>
            {% endif %}
        </div>
          {% endfor %}
        </div>
      </div>
    </section>
</div>