<!-- col-section-basic.html -->

<section>
      <div class="max-width">
        <div class="heading-div" style="text-align: {{block.text_alignment}};">
       
          {{block.block-content-html}}
 
        </div>
        <div class="grid grid-cols-1 gap-4" style="grid-template-columns: repeat({{block.cols.size}}, minmax(0, 1fr));">
        {% for col in block.cols %}
          <div style="text-align: {{block.text_alignment}};">
            {% if col.img_path %}

                {% unless block.image_default_ratio %}
                  <div class="relative" style="aspect-ratio:{{block.img_apsect}};">
                    <img src="{{col.img_path}}" alt="{{col.img-alt}}" class="object-cover object-center absolute inset-0 h-full w-full">
                  </div>
                {% else %}
                  <img src="{{col.img_path}}" alt="{{col.img-alt}}">
                {% endunless %}
            {% endif %}
            <div class="mt-4">
              {{col.col-content-html}}

            </div>
        </div>
          {% endfor %}
        </div>
      </div>
    </section>