
<section>
      <div class="max-width">
          <div class="mx-auto mb-12" style="text-align: {{block.text_alignment}};{% if block.content-max-width %}max-width: {{block.content-max-width}} {% endif %}">
            {{block.block-content-html}}
          </div>

          <div class="grid grid-cols-5 lightbox-grid">
            {% for img in block.lightbox_images limit: 10 %}
              <div class="aspect-square grid-item" data-grid-link="lightbox-{{forloop.index}}">
                <img src="{{img.img_path}}" alt="{{img.img_alt}}">
              </div>
            {% endfor %}
          </div>
        </div>
    </section>

    <div class="lightContainer hidden justify-between items-center fixed inset-0 z-50">
      <div class="bg-overlay bg-black bg-opacity-50 absolute inset-0 h-full w-full"></div>
      <div class="lightboxArrow prev" onclick="lastImage()"><svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M21 12L3 12M3 12L11.5 3.5M3 12L11.5 20.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></div>
      {% for img in block.lightbox_images limit: 10 %}
      
      <div class="box-item" data-lightbox-link="lightbox-{{forloop.index}}">
        <div class="bg-white ">

        </div>
        <img src="{{img.img_path}}" alt="{{img.img_alt}}"></div>
        <div>

        </div>
      {% endfor %}
      <div class="lightboxArrow next" onclick="nextImage()"><svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M3 12L21 12M21 12L12.5 3.5M21 12L12.5 20.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></div>
    </div>



    <style>
      .box-item{
        position: fixed;
        right:-100vw;
        left:100vw;
        top: 0;
        bottom: 0;
        transition: right .5s, left .5s;
        height: fit-content;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
      }
      .box-item img {
        max-width: 90vw;
        max-height: 90vh;
      }

      .lightboxArrow{
        padding:1rem; font-size: 5rem; background-color: beige; 
        position: relative; z-index: 9999;
      }
    </style>

    <script>
      console.log('start lightbox code')
      const html = document.querySelector('html')
      const lightboxGrid = document.querySelector('.lightbox-grid')
      const lightboxGridItems = lightboxGrid.querySelectorAll('.grid-item')
      const lightContainer = document.querySelector('.lightContainer')
      const lightBoxItems = document.querySelectorAll('.box-item')
      const overlay = lightContainer.querySelector('.bg-overlay')

      let passed
      let preCount = 0 

      function triggerLightBox(trigger) {
        lightContainer.style.display = 'flex'
        html.style.overflowY = "hidden"
        let target =  trigger.dataset.gridLink
        console.log(target)
        passed = false
        preCount = 0
        lightBoxItems.forEach(slide => {
          console.log(slide,passed)
          console.log(slide,target,slide.dataset.lightboxLink)
          if (target == slide.dataset.lightboxLink) {
            slide.classList.add('current')
            slide.style.left = '0'
            slide.style.right = '0'
            passed = true
          } else {
            slide.classList.remove('current')
            if (passed == false ) {
              console.log(slide, passed)
              preCount++
              slide.style.left = '100vw'
              slide.style.right = '-100vw'  
            } else {
              slide.style.left = '-100vw'
              slide.style.right = '100vw'
            }
          }
        })
      if (target != lightBoxItems[0].dataset.lightboxLink){
        console.log('not first')
        document.querySelector('.lightboxArrow.prev').style.left = '0%'
      } else {
        document.querySelector('.lightboxArrow.prev').style.left = '-100%'
      }
      if (target != lightBoxItems[lightBoxItems.length - 1].dataset.lightboxLink){
        document.querySelector('.lightboxArrow.next').style.right = '0%'
        console.log('not last')
      }else {
        document.querySelector('.lightboxArrow.next').style.right = '-100%'

      }
      }

      lightboxGridItems.forEach(item => {
        console.log(item)
        item.addEventListener('click',()=> {
          triggerLightBox(item) 
        })  
      })

      function hideLightBox() {
        lightContainer.style.display = 'none'
        html.style.overflowY = "scroll"
      }

      overlay.addEventListener('click', hideLightBox)

      function lastImage() {
        console.log(lightContainer,lightContainer.querySelector('.box-item.current'))
        var current = lightContainer.querySelector('.box-item.current')
        console.log(current)
        if (current.previousElementSibling.classList.contains('lightboxArrow')) {} else {
          current.style.left = '-100vw'
          current.style.right = '100vw'
          current.classList.remove('current')
          current.previousElementSibling.style.left = '0vw'
          current.previousElementSibling.style.right = '0vw'
          setTimeout(() => {
            current.previousElementSibling.classList.add('current');
            // console.log("Delayed for half a second.");
          }, "500");
          document.querySelector('.lightboxArrow.next').style.right = '0%'
          if (current.previousElementSibling.previousElementSibling.classList.contains('lightboxArrow')) {
            current.previousElementSibling.previousElementSibling.style.left = '-100%'
          }
        }
      }
      function nextImage() {
        console.log(lightContainer,lightContainer.querySelector('.box-item.current'))
        var current = lightContainer.querySelector('.box-item.current')
        console.log(current)
        if (current.nextElementSibling.classList.contains('lightboxArrow')) {} else {
          current.style.left = '100vw'
          current.style.right = '-100vw'
          current.classList.remove('current')
          current.nextElementSibling.style.left = '0vw'
          current.nextElementSibling.style.right = '0vw'
          setTimeout(() => {
            current.nextElementSibling.classList.add('current');
            // console.log("Delayed for half a second.");
          }, "500");

          document.querySelector('.lightboxArrow.prev').style.left = '0%'
          if (current.nextElementSibling.nextElementSibling.classList.contains('lightboxArrow')) {
            current.nextElementSibling.nextElementSibling.style.right = '-100%'
          }
        }
      }
    </script>