<section class="px-0 overflow-x-hidden">
        <div class="md:flex flex-middle">
            <div class="basis-1/3 flex-none flex-center ml-[var(--side-gap)] mr-[var(--side-gap)] md:mr-4">
                <div>
                    <div class="">
                    {{block.block-content-html}}
                    </div>
                </div>
            </div>
            <div class="flex gap-4 basis-2/3 flex-none overflow-scroll ">
                {% for img in block.imgs %}
                <img src="{{img.img_path}}" alt="{{img.img_alt}}" {% unless block.image_default_ratio %} style="aspect-ratio:{{img.img_apsect}};" {% endunless %} class="object-cover object-center h-full max-w-[initial] max-h-[70vh] {% if forloop.first %} ml-[var(--side-gap)] md:ml-0 {% endif %} {% if forloop.last %} mr-[var(--side-gap)] md:mr-0 {% endif %}">
                {% endfor %}
            </div>
        </div>
        <!-- <div class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="101" height="16" viewBox="0 0 101 16" fill="none" class="ml-auto mt-4 mr-4">
                <path d="M100.212 8.70579C100.601 8.31459 100.6 7.68142 100.209 7.29158L93.8341 0.938738C93.4429 0.548896 92.8098 0.550001 92.4199 0.941206C92.0301 1.33241 92.0312 1.96558 92.4224 2.35542L98.0891 8.00239L92.4421 13.6691C92.0523 14.0603 92.0534 14.6935 92.4446 15.0833C92.8358 15.4732 93.469 15.4721 93.8588 15.0809L100.212 8.70579ZM0.00174528 9.17358L99.5051 8.99992L99.5016 6.99992L-0.00174528 7.17359L0.00174528 9.17358Z" fill="var(--text-color)"/>
                </svg>
        </div> -->
    </div>
</section>
