<!-- col-section-basic.html -->
<div class="scheme-{{block.color-scheme}}">
    <section>
        <div class="max-w-screen-xl mx-auto">
            <div class="flex-center">
                <div>
                    <h2>SHORT HEADING</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                    </p>
                    <a href="">
                        EXPLORE NUANU
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
    