<section style="{% if block.border-bottom-width %} border-bottom: {{block.border-bottom-width}} solid {{block.border-bottom-color}}; {% endif %}{% if block.border-top-width %} border-top: {{block.border-top-width}} solid {{block.border-top-color}}; {% endif %}" class="{% if full-width == 'true' %} px-0 {% endif %}">
  {% if full-width == 'true' %}
  <div class="max-width">
    {% endif %}
    
    {{block.liquid_code_block}}
    

    {% if full-width == 'true' %}
  </div> 
{% endif %}
</section>