<section style="{% if block.border-bottom-width %} border-bottom: {{block.border-bottom-width}} solid {{block.border-bottom-color}}; {% endif %}{% if block.border-top-width %} border-top: {{block.border-top-width}} solid {{block.border-top-color}}; {% endif %} 
{% if block.banner-image %}
background-image: url({{block.banner-image}});
{% endif %}
{% if block.banner-height %}
min-height: {{block.banner-height}};
{% endif %}" class="flex items-center justify-center bg-center bg-cover relative">
{% unless block.overlay-opacity == 0 %}
<div class='inset-0 absolute' style='background-color: {{block.overlay-color}}; opacity: {{block.overlay-opacity}};'>

</div>
{% endunless %}
  <div class="max-width text-{{block.text-alignment}} relative z-10">
    <div class="mx-auto" style="max-width: {{block.content-max-width}};">
      {{block.block-content-html}}

    </div>
  </div> 
 
</section>

